nav.navbar.navbar-expand-lg.navbar-light.bg-light
    div.container-fluid.w-75
        a.navbar-brand.fw-bold(href="/home") TO-DO App
        button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbar")
            span.navbar-toggler-icon
        div.collapse.navbar-collapse#navbar
            ul.navbar-nav.me-auto.mb-2.mb-lg-0
                li.nav-item
                    a.nav-link.active.text-success(href="/task/todo") My List
            a.me-3(href="/auth/register")
                button.d-inline-block.btn.btn-outline-secondary Register
            a(href="/auth/login") 
                button.d-inline-block.btn.btn-primary Login